/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Custom Properties */
:root {
  --clr-veryDarkMagenta: hsl(300, 43%, 22%);
  --clr-softPink: hsl(333, 80%, 67%);

  --clr-darkGrayishMagenta: hsl(303, 10%, 53%);
  --clr-lightGrayishMagenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}


/* Layout */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bgTop img{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 150%;
}

.bgBottom {
  position: absolute;
  bottom: 0%;
  right: 0%;
}

section {
  max-width: 1080px;
}

.main-grid {
  display: grid;
}

@media (min-width: 750px) {
  .main-grid {
    grid-template-columns: 1fr 1fr;
  }

  .reviews {
    grid-column: 1/3;
  }
}


/* Typography */
section {
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
  color: var(--clr-veryDarkMagenta);
  font-weight: 500;
  line-height: 150%;
}

.intro h2 {
  font-size: 3rem;
  font-weight: 700;
}

.intro p {
  color: var(--clr-darkGrayishMagenta);
  font-weight: 400;
}

.review-customer, 
.review-statement {
  color: var(--clr-lightGrayishMagenta);
}

.review-verification {
  color: var(--clr-softPink);
}

@media (max-width: 400px) {
  body {
    max-width: fit-content;
    margin: 0;
    padding: 0;
  }

  .bgTop {
    display: hidden;
  }

  .intro h2 {
    font-size: 1.5rem;
  }
}


/* Styling Components */

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 750px) {
  .intro {
    padding: 2rem 6rem 4rem 2rem;
    text-align: left;
  }
}

.intro h2 {
  line-height: 100%;
}



/* Rating Component */
.ratings {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.rating-container {
  background: var(--clr-lightGrayishMagenta);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 375px;
}

.rating-container:first-child {
  align-self: flex-start;
}

.rating-container:last-child {
  align-self: flex-end;
}


/* Review Component */
.reviews {
  display: flex;
  padding: 1rem 2rem;
  gap: 1.5rem;
  max-height: 283px;
  flex-direction: column;
}

@media (min-width: 750px) {
  .reviews {
    flex-direction: row;
    height: 325px;
    align-items: center;
  }
  
}

.review-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
 background: var(--clr-veryDarkMagenta);
 padding: 2rem;
 height: max-content;
 border-radius: 0.5rem;
 -webkit-border-radius: 0.5rem;
}



@media (min-width: 825px) {
  .review-container:first-child {
    align-self: flex-start;
  }
  
  .review-container:last-child {
    align-self: flex-end;
  }

}

.header {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header img {
  width: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.review-customerInfo {
  line-height: 125%;
}